<app-navbar></app-navbar>
<div class="background-image">
    <div class="container">
        <h1 style="color: cornsilk; text-align: center;">Vaccination Details</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Employee Id</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Vaccine Name</th>
                    <th scope="col">Is First Doze Taken</th>
                    <th scope="col">First Doze Date</th>
                    <th scope="col">Is Second Doze Taken</th>
                    <th scope="col">Second Doze Date</th>
                    <th scope="col">Is Fully Vaccinated</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vaccine of vaccineData">
                    <th scope="row">{{vaccine.EMPLOYEE_ID}}</th>
                    <td>{{vaccine.EMPLOYEE_NAME}}</td>
                    <td>{{vaccine.VACCINE_NAME}}</td>
                    <td>{{vaccine.FIRST_DOZE}}</td>
                    <td>{{vaccine.FIRST_DOZE_DATE ? vaccine.FIRST_DOZE_DATE : '--' }}</td>
                    <td>{{vaccine.SECOND_DOZE}}</td>
                    <td>{{vaccine.SECOND_DOZE_DATE ? vaccine.SECOND_DOZE_DATE : '--'}}</td>
                    <td>{{vaccine.IS_FULLY_VACCINATED}}</td>
                    <td><a style="color: crimson;" href="javascript:void(0)" (click)="deleteRecord(vaccine.ID)">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>